<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<body th:fragment="admin-body">
	<div class="contain">
		<!--/* header */-->	
		<th:block layout:fragment="header">
			<th:block th:replace="fragments/header :: header"></th:block>
		</th:block>
		
		<!--/* contents */-->	
		<div class="container show-grid">
			<div class="row">
				<!--/* sideBar */-->
				<div class="col-md-5 col-lg-2">
					<th:block layout:fragment="Sidebar">
						<th:block th:replace="fragments/adminSidebar :: adminSidebar"></th:block>
					</th:block>
				</div>
				
				<!--/* mainContents */-->
				<div class="col-md-7 col-lg-10 mt-4">
					<th:block layout:fragment="contents"></th:block>
				</div>
			</div>
		</div>
		
		<!--/* footer */-->	
		<th:block layout:fragment="footer">
			<th:block th:replace="fragments/footer :: footer"></th:block>
		</th:block>
	</div>
	
	<!--/* script */-->
	<th:block layout:fragment="script">
		<script th:src="@{static/js/bootstrap/bootstrap.bundle.js}"></script>
	</th:block>
</body>
</html>