<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<th:block th:fragment="adminSidebar">
		<div th:framgent="adminSidebar" class="flex-shrink-0 p-3 bg-white">
			<a th:href="@{getBoard.do}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<!-- <img class="me-2" th:src="@{../static/image/logo.png}" aria-label="HealthPlanner" width="60"> -->
			<span class="fs-4 fw-semibold">관리자페이지</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed"
						data-bs-toggle="collapse" data-bs-target="#board-collapse"
						aria-expanded="false" id="boardMgt">게시글관리</button>
					<div class="collapse" id="board-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a th:href="@{getBoard.do}" class="link-dark rounded">문의사항</a></li>
							<li><a th:href="@{admin_Notice.do}" class="link-dark rounded">공지사항</a></li>
							<li><a href="#" class="link-dark rounded">QnA</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded"
						data-bs-toggle="collapse" data-bs-target="#levelUp-collapse"
						aria-expanded="false" id="levelUpMgt">승급관리</button>
					<div class="collapse" id="levelUp-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark rounded">회원관리</a></li>
							<li><a href="#" class="link-dark rounded">승급데이터관리</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded"
						data-bs-toggle="collapse" data-bs-target="#members-collapse"
						aria-expanded="false" id="membersMgt">회원정보</button>
					<div class="collapse" id="members-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark rounded">회원조회</a></li>
							<li><a href="#" class="link-dark rounded">탈퇴한회원</a></li>
						</ul>
					</div>
				</li>
				<!-- 라인추가 <li class="border-top my-3"></li> -->
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed"
						data-bs-toggle="collapse" data-bs-target="#exercise-collapse"
						aria-expanded="false" id="exerciseMgt">운동종목</button>
					<div class="collapse" id="exercise-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark rounded">수정/추가/삭제</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded"
						data-bs-toggle="collapse" data-bs-target="#point-collapse"
						aria-expanded="false" id="pointMgt">포인트관리</button>
					<div class="collapse" id="point-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark rounded">조회</a></li>
							<li><a href="#" class="link-dark rounded">적립/차감</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</th:block>

</html>