<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">

<th:block layout:fragment="title"></th:block>

<th:block layout:fragment="add-css">
	<link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap/sidebars.css}">
	<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</th:block>

</head>
</html>