<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/admin_window.css">
    <title>관리자페이지</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="logo">
          <!-- 로고 -->
          <a href="main.html"><img src="./image/logo.png" alt=""></a>
          <span class="title">
            관리자페이지
          </span>
        </div>
        <div class="profile">
          <div class="profile_img">
            <!-- 프로필사진 -->
            <a href="#"><img src="./image/profile.png" alt</a>
          </div>
          <div class="profile_id">
            <span>아이디값</span>
          </div>
          <div class="profile_menu">
            <!-- 햄버거 메뉴 -->
            <a href="#"><img src="./image/category.png" alt></a>
          </div>
        </div>
      </header>
      <nav>
        <div id="nav">
          <ul>
            <li><a href="#">게시글 관리</a></li>
            <li><a href="#">승급관리</a></li>
            <li><a href="#">회원정보</a></li>
            <li><a href="#">운동종목</a></li>
            <li><a href="#">포인트관리</a></li>
          </ul>
        </div>
      </nav>
      <section>
        <aside class="side">
          <ul>
            <li class="main_category"><a href="#">게시글 관리</a>
              <ul>
                <li><a href="#">문의사항</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">QnA</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">승급관리</a>
              <ul>
                <li><a href="#">회원관리</a></li>
                <li><a href="#">승급데이터 관리</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">회원정보</a>
              <ul>
                <li><a href="#">회원조회</a></li>
                <li><a href="#">탈퇴한회원</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">운동종목</a>
              <ul>
                <li><a href="#">수정/추가/삭제</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">포인트관리</a>
              <ul>
                <li><a href="#">조회</a></li>
                <li><a href="#">적립/차감</a></li>
              </ul>
            </li>
          </ul>
        </aside>
        <article class="">

        </article>
      </section>
      <footer>
        .
      </footer>
    </div>
  </body>
</html>
