<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"> <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>아이디찾기</title>
    <link rel="stylesheet" th:href="@{/static/css/background_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/forget_id_2.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <h1>아이디 찾기</h1>
        <!-- 경로 login.html -->
        <!-- 경로 변경 필요 -->
        <form class="" action="login.html" method="post">
          <label>내 아이디
            <h2>아이디</h2>
          </label>
          <div class="btn_img">
            <img src="./image/button_off.png" alt="">
            <img src="./image/button_on.png" alt="">
          </div>
          <input type="button" class="cancel_btn" name="" value="비밀번호 찾기" onclick="location.href='forget_pw.html'">
          <input type="submit" class="confirm_btn" name="" value="확인">
        </form>
      </section>
    </div>
  </body>
</html>
