<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>로그인페이지</title>
   
   <link rel="stylesheet" th:href="@{./static/css/background_window.css}"/>
    <link rel="stylesheet" th:href="@{./static/css/login.css}"/>
     
<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}"/>
    
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <article class="">
          <h1>로그인</h1>
          <form class="login" action="main.html" method="post">
            <input type="text" name="" value="" placeholder="아이디">
            <input type="password" name="" value="" placeholder="비밀번호">
            <div class="forget">
              <a th:href="@{forget_id.do}">아이디 찾기 |</a>
              <a th:href="@{forget_pw.do}">비밀번호 찾기</a>
            </div>
            <input type="submit" value="로그인">
            <div class="join">
              <a th:href="@{join.do}">회원가입</a>
            </div>
          </form>
        </article>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
