<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.mapper.Admin_QuestionMapper">
	
	<sql id="AdminQuestion">
		post_id,
		board_type,
		board_sub_type,
		title,
		post_contents,
		answer,
		answer_state,
		available,
		views,
		mbr_id,
		post_date,
		modifier,
		modify_date
	</sql>
	
	<!-- 상세보기 -->
	<select id="adminSelectPostDetail" parameterType="int" resultType="PostDTO">
		SELECT
			<include refid="AdminQuestion"/>
		FROM
			post
		WHERE
			available = 0
		AND
			post_id = #{postId}

	</select>
	
	<!-- 답변 -->
	<update id="updatePost" parameterType="PostDTO">
		UPDATE post
		SET
			answer = #{answer},
			answer_state = '1',
			modifier = #{modifier},
			modify_date = now()
		WHERE
			post_id = #{postId}
	</update>
	
	<!-- 목록 최신 -->
	<select id="selectPostList" parameterType="PostDTO" resultType="PostDTO">
		SELECT
			<include refid="AdminQuestion"/>
		FROM
			post
		WHERE
			available = 0
		AND
			board_type = 3
		<include refid="CommonMapper.searchQuestion"/>
		<!-- 최신 -->
		<choose>
			<when test="sortType == 0">
				ORDER BY
				answer_state,
				post_id DESC,
				post_date DESC
			</when>
			<when test="sortType == 1">
				ORDER BY
				post_id ASC,
				post_date DESC			
			</when>
			<otherwise>
				ORDER BY
				post_id DESC,
				post_date DESC
			</otherwise>
		</choose>
		<include refid="CommonMapper.paging"/>
	</select>
	
	
	<!-- 페이징 전처리 -->
	<select id="selectPostTotalCount" parameterType="PostDTO" resultType="int">
		SELECT
			count(*)
		FROM
			post
		WHERE
			available = 0
		AND
			board_type = 3
		<include refid="CommonMapper.searchQuestion"/>
	</select>
	
	
</mapper>