<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">

	<!-- 페이징 -->
	<sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex},#{recordsPerPage}
	</sql>
	
	<!-- 검색(Admin_question) -->
	<sql id="searchQuestion">
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="'title'.equals(searchType)">
					AND title LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="'writer'.equals(searchType)">
					AND mbr_id LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="'content'.equals(searchType)">
					AND post_contents LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					AND
						(
								title LIKE CONCAT('%', #{searchKeyword}, '%')
							OR mbr_id LIKE CONCAT('%', #{searchKeyword}, '%')
							OR post_contents LIKE CONCAT('%', #{searchKeyword}, '%')
						)
				</otherwise>
			</choose>
		</if>
	</sql>
	
	<!-- 검색(Admin_levelup) -->
	<sql id="searchLevelup">
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="'id'.equals(searchType)">
					WHERE lvt.mbr_id LIKE CONCAT ('%', #{searchKeyword} ,'%')
				</when>
				<when test="'exercise'.equals(searchType)">
					WHERE lvt.exercise_id LIKE CONCAT ('%', #{searchKeyword} ,'%')
				</when>
				<otherwise>
					WHERE
					(
						lvt.mbr_id LIKE CONCAT ('%', #{searchKeyword} ,'%')
					OR lvt.exercise_id LIKE CONCAT ('%', #{searchKeyword} ,'%')
					)
				</otherwise>
			</choose>
		</if>
	</sql>
	
	<!-- 검색(Admin_member) -->
	<sql id="search_member">
		WHERE
			mbr.secession = 0
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="'id'.equals(searchType)">
					and mbr.mbr_id LIKE CONCAT ('%',#{searchKeyword},'%')
				</when>
				<when test="'name'.equals(searchType)">
					and mbr.mbr_Nm LIKE CONCAT ('%',#{searchKeyword},'%')
				</when>
				<when test="'rank'.equals(searchType)">
					and ms.average_rank LIKE CONCAT ('%',#{searchKeyword},'%')
				</when>
				<otherwise></otherwise>
			</choose>
		</if>
	</sql>
	
	<!-- 검색(Admin_memberSecession) -->
	<sql id="search_memberSecession">
		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE mbr_id LIKE CONCAT ('%',#{searchKeyword},'%')
		</if>
	</sql>
	
	
	
</mapper>