<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.mapper.MemberMapper">


	<select id="idCheck" parameterType="String" resultType="integer">
		SELECT
		count(*)
		FROM members
		WHERE mbr_id = #{mbrId}
	</select>
	
	<select id="emailCheck" parameterType="String" resultType="integer">
		SELECT
		count(*)
		FROM members
		WHERE mbr_email = #{mbrEmail}
	</select>
	
	<select id = "mypagePasswordCheck" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.MemberDTO">
		SELECT	mbr_id, mbr_pw
		FROM members
		WHERE mbr_pw = #{mbrPw}
		AND mbr_id = #{mbrId}
		
	</select>
	
	<insert id="memberRegister" parameterType="com.health.domain.MemberDTO" >
		insert into members(mbr_id, mbr_pw, mbr_nm, mbr_birth, mbr_email, mbr_pw_hint, mbr_pw_answer, registrant,regist_date)
		values(#{mbrId}, #{mbrPw}, #{mbrNm}, #{mbrBirth}, #{mbrEmail}, #{mbrPwHint}, #{mbrPwAnswer}, #{mbrNm} ,NOW())
	</insert>
	
	<select id="readAccount" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.MemberDTO">
	SELECT *
	FROM members  
	WHERE mbr_id = #{mbrId}	
	AND mbr_pw = #{mbrPw}	
	</select>
	
	<select id = "findId" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.MemberDTO">
	SELECT mbr_id
	FROM members
	WHERE mbr_email = #{mbrEmail}
	</select>
	
	<select id = "findPwhint" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.MemberDTO">
	SELECT mbr_id ,mbr_pw_hint, mbr_pw_answer
	FROM members
	WHERE mbr_id = #{mbrId}
	
	</select>
	
	<select id = "inputPwHintAnswer" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.MemberDTO">
	SELECT mbr_id ,mbr_pw_hint, mbr_pw_answer,mbr_pw 
	FROM members
	WHERE mbr_pw_hint = #{mbrPwHint}
	AND mbr_pw_answer = #{mbrPwAnswer}
	AND mbr_id = #{mbrId}
	
	</select>
	
	
	<update id = "changeNewPw" parameterType="com.health.domain.MemberDTO" >
	UPDATE members 
	SET mbr_pw = #{mbrPw}
	WHERE mbr_pw_hint = #{mbrPwHint}
	AND mbr_pw_answer = #{mbrPwAnswer}
	AND mbr_id = #{mbrId}
	</update>
	
	<update id = "changeNewPwInMyPage" parameterType="com.health.domain.MemberDTO" >
	UPDATE members 
	SET mbr_pw = #{mbrPw}
	WHERE mbr_nm= #{mbrNm}
	AND mbr_id = #{mbrId}
	</update>
	
	<select id="pointContentsList" parameterType="com.health.domain.MemberDTO" resultType="com.health.domain.PointDTO">
	SELECT m.mbr_id, mpr.point_id,mpr.point_date,pp.point_value,pp.point_contents,pp.point_category
	FROM members as m
    right JOIN mbr_point_record as mpr ON m.mbr_id = mpr.mbr_id
    JOIN point_police as pp ON mpr.point_id = pp.point_id
	WHERE m.mbr_id = #{mbrId}
    ORDER BY mpr.point_date;
	</select>
	
	
</mapper>