<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.mapper.MemberMapper">


	<select id="idCheck" parameterType="String" resultType="integer">
		SELECT
		count(*)
		FROM members
		WHERE mbr_id = #{mbrId}
	</select>
	<insert id="memberRegister" parameterType="com.health.domain.MemberDTO" >
		insert into members(mbr_id, mbr_pw, mbr_nm, mbr_birth, mbr_email, mbr_pw_hint, mbr_pw_answer, registrant,regist_date)
		values(#{mbrId}, #{mbrPw}, #{mbrNm}, #{mbrBirth}, #{mbrEmail}, #{mbrPwHint}, #{mbrPwAnswer}, #{mbrNm} ,NOW())
	</insert>
	
	<select id="readAccount" parameterType="String" resultType="com.health.domain.Account">
	SELECT *
	FROM members
	WHERE mbr_id=#{mbr_id}
	
	</select>
</mapper>