*{
  margin:0;
  padding:0;
  text-align:center;
  font-family:'Spoqa Han Sans';
  text-decoration:none;
}

html,body{
  width:100%;
  height:100%;
}

body{
  /* background-image:url("../image/background.gif"); */
  background-image:url("../image/white_mountain.jpg");
  background-repeat : no-repeat;
  background-size:cover;    /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
  background-position: center;  /* 컨테이너에 가운데로 오도록 한다. */ 
  height: 100%;
  width : 100vw;
}

a{
  color : rgb(64, 0, 128);
}

/* #wrapper{
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.7 );
} */

.empty{
  width:100%;
  height:300px;
}

.contain{
}

h1{
  font-size:30px;
}

.start_btn{
  width:280px;
  height:60px;
  margin:20px 0 30px;
  background:#f1c40f;
  color:#e74c3c;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 2px 10px #ccc;
}

.login_btn{
  width:160px;
  height:50px;
  background:#777;
  font-size: 16px;
  font-weight:bold;
  border:none;
  border-radius: 10px;
  cursor:pointer;
  box-shadow: 0 2px 10px #ccc;
}

h5{
  color:#777;
  padding:10px;
}

.login_btn a{
  color:white;
}
