<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
	<title>ajaxTest</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F2D7D5;">
	    <div class="container-fluid">
	        <a class="navbar-brand" href="#">🌺</a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
	                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	            <div class="navbar-nav">
	                <a class="nav-link active" aria-current="page" href="#">Home</a>
	                <a class="nav-link" href="#">Features</a>
	            </div>
	        </div>
	    </div>
	</nav>
	
	<div class="container">
	    <div class="row mt-3">
	        <div class="card text-center">
	            <h5 class="card-header">Data transmission using ajax</h5>
	            <div class="card-body">
	                <h5 class="card-title">hello! 😀 </h5>
	                <p class="card-text">
	                    Enter the text you want to send and click the button.</p>
	                
	                <!--/* Ajax 사용할 부분 */-->    
	                <!-- <form class="card-text"> -->
	                    <div class="col-12">
	                        <div class="input-group mb-3">
	                        
                       	<!--/* 데이터 넘어가는 */-->
	                            <input id="input" placeholder="Please enter text" type="text" class="form-control">
	                            <!-- 메서드 부분  dataSend()메서드 호출 ajax 통신 후 -->
	                            <button class="btn btn-outline-secondary" type="button" onclick="dataSend()">submit</button>
	                        </div>
	                    </div>
	                    
	                    <!--/* resultDiv 안에 데이터 update*/-->
	                    <div id="resultDiv">
	                        <!-- <p th:if="${msg}!=null" th:text="${msg}"></p> -->
	                        <br>
	                        <div>입력한 값</div>
	                        <input type="text" th:if="${#strings.isEmpty(msg)}" placeholder="이건 나와야 하는 거 아님?">
	                        <input type="text" th:if="${not #strings.isEmpty(msg)}" th:value="${msg}">
	                        <br>
	                        <br>
	                        <div>테스트1</div>
	                        <input type="text" th:if="${#strings.isEmpty(test)}" placeholder="이건 나와야 하는 거 아님?">
	                        <input type="text" th:if="${not #strings.isEmpty(test)}" th:each="row : ${test}" th:value="${row.test1}">
	                        <br>
	                        <br>
	                        <div>테스트2</div>
	                        <input type="text" th:if="${#strings.isEmpty(test2)}" placeholder="이건 나와야 하는 거 아님?">
	                        <input type="text" th:if="${not #strings.isEmpty(test2)}" th:each="list : ${test2}" th:value="${list.test2}">
	                    </div>
	                <!-- </form> -->
	            </div>
	        </div>
	    </div>
	</div>
	<script>
	function dataSend() {
		var dto = {};
		dto.result = $("#input").val();
		dto.test1 = "가나다라";
		dto.test2 = "마바사아";
		dto.test3 = "자차카타";
		dto.test4 = "파하";
		
		var dto2 = {};
		dto2.test1 = "1번째";
		dto2.test2 = "2번째";
		dto2.test3 = "3번째";
		dto2.test4 = "4번째";

	    $.ajax({
	        url: "data.do",
	        data: dto,
	        type:"POST",
	        success : function(){
	        	alert('성공');
	        },
	        error : function(request, status){
	        	alert('실패');
	        	alert(request.status);
	        }
	    })
	    .done(function (fragment) {
	        $("#resultDiv").replaceWith(fragment);
	    });
	}
	</script>
</body>
</html>