<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/basic">
<th:block layout:fragment="title">
	<title>상세페이지</title>
</th:block>
<body>
	<th:block layout:fragment="contents">
		<div class="title">
			<h4 class="main_title fw-bold mb-4 d-inline-block">게시글 관리</h4>
			<h5 class="sub_title d-inline-block">문의사항</h5>
		</div>

		<div class="table-responsive clearfix">
			<form th:action="@{admin_QuestionDetailAnswer.do}" method="post" th:object="${post}" onsubmit="return formCheck()">
				<input type="hidden" th:field="*{postId}" name="postId" th:value="${postId}">
				<table class="table text-center text-nowrap">
					<thead>
						<tr class="table_title bg-light">
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">분류</th>
							<th scope="col">작성자</th>
							<th scope="col">답변여부</th>
							<th scope="col">작성일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row" th:text="${post.postId}"></th>
							<td th:text="${post.title}" class="w-50"></td>
							<td th:if="${post.boardSubType.equals(1)}">회원문의</td>
							<td th:if="${post.boardSubType.equals(2)}">시스템문의</td>
							<td th:if="${post.boardSubType.equals(3)}">포인트문의</td>
							<td th:if="${post.boardSubType.equals(4)}">기타문의</td>
							<td th:text="${post.mbrId}"></td>
							<td th:if="${post.answerState.equals(0)}">답변 대기중</td>
							<td th:unless="${post.answerState.equals(0)}">답변 완료</td>
							<td th:text="${post.postDate}" width=""></td>
						</tr>
						<tr class="align-middle" id="Question" >
							<th scope="row">문의내용</th>
							<td colspan="5"><textarea th:text="${post.postContents}" class="form-control border-0 bg-white" readonly disabled></textarea></td>
							
						</tr>

						<!-- 답변란 -->
						<th:block>
							<!-- 답변이 있는 경우 -->
							<tr th:if="${post.answerState} == 1" id="answerText" class="align-middle" >
								<th scope="row">답변내용</th>
								<!-- 버튼 클릭 시 활성화 -->
								<td colspan="5" id="answerTextarea">
									<!-- 답변영역 --> <textarea
										class="form-control border-0 bg-white pb-2" disabled th:text="${post.answer}" th:field="*{answer}"
										name="answer" id="adminAnswer"></textarea>
								</td>
								<td id="writeBtn" style="display:none"><button type="submit" class="btn btn-secondary">답변등록</button></td>
							</tr>

							<!-- 답변이 없는 경우 -->
							<!-- 버튼 클릭 시 활성화 -->
							<tr th:unless="${post.answerState} == 1" id="answerText" class="align-middle" style="display:none" >
								<th scope="row" class="">답변내용</th>
								<td colspan="4" id="answerTextarea">
									<!-- 답변영역 --> 
									<textarea class="form-control" th:text="${post.answer}" th:field="*{answer}" style="resize: none;" name="answer" id="adminAnswer"></textarea>
								</td>
								<td><button type="submit" class="btn btn-secondary">답변등록</button></td>
							</tr>
						</th:block>


					</tbody>
				</table>

				<div id="btn" class="float-end mb-2">
					<!-- 답변여부에 따른 버튼 -->
					<button th:if="${post.answerState.equals(1)}" type="button" class="btn btn-secondary answerBtn" id="answerBtn" onclick="answerToggleSwitch()">수정하기</button>
					<button th:unless="${post.answerState.equals(1)}" type="button" class="btn btn-secondary answerBtn" id="answerBtn" onclick="answerToggleSwitch()">답변하기</button>
					
					<!-- postId값으로 이전 페이지구간으로 이동할 수 있도록 href 설정 -->
					<!-- <button type="button" class="btn btn-light" onclick="backPage()">뒤로가기</button> -->
					<!-- a태그로 링크 걸기 -->
					<a th:href="|@{admin.do}${params.makeQueryString(params.currentPageNo)}|"class="btn btn-light">뒤로가기</a>
				</div>

			</form>
		</div>


		<th:block layout:fragment="script">
			<script th:inline="javascript">
				/*<![CDATA[*/
				//사이드메뉴 현재 영역 기본값 - 펼치기 
				let sideMenuIcon = document.getElementById('boardMgt');
				sideMenuIcon.ariaExpanded = "true";
				let sideMenuShow = document.getElementById('board-collapse');
				sideMenuShow.className = "collapse show";

				//답변입력란 활성화 부분				
				function answerToggleSwitch(){
					let editBtn = document.getElementById("editBtn");
					let answerBtn = document.getElementById("answerBtn");
					let answerText = document.getElementById("answerText");
					let postAnswerState = /*[[${post.answerState}]]*/null;
					let answerTextarea = document.getElementById("answerTextarea");
					let adminAnswer = document.getElementById("adminAnswer");
					let writeBtn = document.getElementById("writeBtn");
					let oldAnswer = /*[[${post.answer}]]*/null;
					
					//답변이 없는 경우
					if(postAnswerState != 1){
						//입력창 안 보일때
						if(answerText.style.display == "none"){
							answerText.style.display="table-row";
							document.getElementById("answerBtn").innerText="취소";
						//입력창 보일때
						} else {
							answerText.style.display="none";
							document.getElementById("answerBtn").innerText="답변하기";
						}
					//답변이 있는 경우
					} else {
						//입력창 안 보일때
						if(writeBtn.style.display == "none"){
							answerTextarea.colSpan=4;
							adminAnswer.disabled = false;
							adminAnswer.className = "form-control";
							writeBtn.style.display="table-cell";
							document.getElementById("answerBtn").innerText="취소";
						//입력창 보일때
						} else {
							answerTextarea.colSpan=5;
							adminAnswer.disabled = true;
							adminAnswer.className = "form-control border-0 bg-white overflow-hidden pb-2";
							adminAnswer.value = oldAnswer;
							writeBtn.style.display="none";
							document.getElementById("answerBtn").innerText="수정하기";
						}
					}
				}
				
				//유효성 검사
				function formCheck(){
					var answer = document.forms[0].answer.value;
					if(answer == null || answer == "" || answer.match(/^(\s+)$/ig) != null){
						alert("내용을 입력해주세요.");
						document.forms[0].answer.focus();
						return false;
					}
					
					if(!confirm('등록하시겠습니까?')){
						return false;
					}
				}
				
				//문의내용 영역 height 조정
				var qs = document.getElementById("Question");
				qs.style.height = "200px";
				if(qs.scrollHeight >= qs.style.height){
					qs.style.height = qs.scrollHeight + "px";
				}
				
				//답변내용 영역 height 조정
				var tx = document.getElementsByTagName("textarea");
				for(let i=0; i<tx.length; i++){
					tx[i].setAttribute("style","height:" + (tx[i].scrollHeight) + "px; resize:none;");
				}
				
				
				function deleteBoard(postId, queryString){
					if(confirm(postId + "번 게시글을 삭제할까요?")){
						var uri = /*[[@{delete.do 경로}]]*/null;
						var html = "";
						
						html += '<form name="dataForm" action="'+uri+'" method="post">';
						html += '<input type="hidden" name="idx" value="'+postId+'"/>';
						
						/* 쿼리 스트링을 오브젝트 형태로 변환 */
						queryString = new URLSearchParams(queryString);
						queryString.forEach(function(value,key){
							if(isEmpty(value) == false){
								html += '<input type="hidden" name="' + key + '" value="' + value + '"/>';
							}
						});
						
						html += '</form>';
						
						$("body").append(html);
						document.dataForm.submit();
					}
				}
				
				//세세한 부분(변수) 수정 필요 - question에서는 필요 없어서 기능만 추가
				function registerBoard(from){
					
					form.noticeYn.value = form.noticeYn.checked == false? 'N' : 'Y';
					form.secretYn.value = form.secretYn.checked == false? 'N' : 'Y';
					
					var result = (
							isValid(form.title, "제목", null, null)
						&&	isValid(form.writer, "이름", null, null)
						&&	isValid(form.content, "내용", null, null) //isValid() 만들어서 사용해야함
					);
					
					if(result == false){
						return false;
					}
					
					var idx= /*[[params.postId]]*/null;
					if(isEmpty(idx) == false){
						var queryString = /*[[params.makeQueryString(params.currentPageNo)]]*/null;
						
						//쿼리 스트링을 오브젝트 형태로 변환
						queryString = new URLSearchParams(queryString);
						queryString.forEach(function(value, key){
							if(isEmpty(value) == false){
								$(form).append('<input type="hidden" name="' + key + '" value="' + value + '"/>');
							}
						})
					}
					
				}
				

				/*]]>*/
			</script>
		</th:block>
	</th:block>
</body>
</html>