<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
	<th:block layout:fragment="title">
		<title>상세페이지 - 공지</title>
	</th:block>
	<body>
		<th:block layout:fragment="contents">
			<!-- HEAD -->
			<div class="title">
				<h4 class="main_title fw-bold mb-4 d-inline-block">게시글 관리</h4>
				<h5 class="sub_title d-inline-block">공지사항</h5>
			</div>
			
			<!-- TABLE -->
			<div class="table-responsive clearfix" id="writeAnswer">
				<form th:action="@{admin_NoticeUpdate.do}" th:object="${post}" onsubmit="return updateNotice()">
					<input type="hidden" th:field="*{postId}" th:value="*{postId}">
					<input type="hidden" th:field="*{mbrId}" th:value="*{mbrId}">			
					<table class="table text-center text-nowrap">
						<thead>
							<tr class="bg-light">
								<th class="border-end">분류</th>
								<th scope="col">제목</th>
								<th>작성자</th>
								<th>작성일자</th>
								<th th:if="${post.modifyDate} != null">수정일자</th>
							</tr>
						</thead>
						<tbody>
							<tr class="align-middle">
								<td class="border-end">
									<select class="form-select text-center bg-white border-0 " th:field="*{boardSubType}" th:value="${post.boardSubType}" id="subType" disabled>
										<option value="1" th:text="운영정책"/>
										<option value="2" th:text="시스템"/>
										<option value="3" th:text="포인트"/>
										<option value="4" th:text="기타"/>
									</select>
								</td>
								<td class="w-50"><input type="text" th:field="*{title}" class="form-control text-center bg-white border-0" th:value="${post.title}" id="title" disabled></td>
								<td th:text="${post.mbrId}"></td>
								<td th:text="${post.postDate}"></td>
								<th:block th:if="${post.modifyDate} != null">
									<td th:text="${post.modifyDate}"/>
								</th:block>
							</tr>
							
							<tr class="align-middle">
								<td colspan="1" class="border-end">내용</td>
								<td colspan="5">
									<textarea class="form-control text-center h-100 border-0 bg-white" rows=14 disabled th:field="*{postContents}" th:text="${post.postContents}" id="containText" style="resize:none;"></textarea>
								</td>
							</tr>
							
						</tbody>
					</table>
					
					<!-- BUTTON -->
					<div id="btn" class="float-end">
						<th:block>
							<button type="button" class="btn btn-secondary" id="modifyBtn">수정</button>
							<button type="submit" class="btn btn-secondary d-none" id="updateBtn">등록</button>
							
							<button type="button" class="btn btn-secondary " id="deleteBtn" th:onclick="deleteNotice('[[ *{postId} ]]')">삭제</button>
							<button type="button" class="btn d-none" id="cancelBtn">취소</button>
							
							<button type="button" class="btn btn-light" id="backBtn" onclick="history.back()">뒤로가기</button>					
						</th:block>
					</div>
				</form>
			</div>
			<th:block layout:fragment="script">
			<script th:inline="javascript">
				//사이드바 활성화
				let sideMenuIcon = document.getElementById('boardMgt');
				sideMenuIcon.ariaExpanded = "true";
				let sideMenuShow = document.getElementById('board-collapse');
				sideMenuShow.className="collapse show";
				
				//분류 초기값 설정
				let boardSubType=/*[[${post.boardSubType}]]*/null;
				let subType = document.getElementById("subType");
				subType.value=boardSubType;
				
				//버튼 작동
				const modifyBtn = document.getElementById("modifyBtn");
				const updateBtn = document.getElementById("updateBtn");
				const deleteBtn = document.getElementById("deleteBtn");
				const cancelBtn = document.getElementById("cancelBtn");
				const title = document.getElementById("title");
				const containText = document.getElementById("containText");
				
				modifyBtn.addEventListener('click', function(){
					subType.removeAttribute("disabled");
					subType.className="form-select text-center";
					title.removeAttribute("disabled");
					title.className="form-control text-center";
					containText.removeAttribute("disabled");
					containText.className="form-control text-center h-100";
					modifyBtn.style.display = 'none';
					updateBtn.className = 'btn btn-secondary answerBtn';
					deleteBtn.style.display = 'none';
					cancelBtn.className = 'btn answerBtn';
					backBtn.style.display = 'none';
				})
				
				cancelBtn.addEventListener('click', function(){
					subType.disabled = true;
					subType.className="form-select text-center bg-white border-0";
					title.disabled = true;
					title.className="form-control text-center bg-white border-0";
					containText.disabled = true;
					containText.className="form-control text-center h-100 bg-white border-0";
					modifyBtn.style.display = 'inline-block';
					updateBtn.className = 'btn btn-secondary answerBtn d-none';
					deleteBtn.style.display = 'inline-block';
					cancelBtn.className = 'btn answerBtn d-none';
					backBtn.style.display = 'inline-block';
				})
				
				
				/*<![CDATA[*/
					let writeAnswerValue=0;
					let selectVal = $("#postType").val();
					let postNumber = /*[[${post.postId}]]*/

					
					function updateNotice(){
						if($("#title").val().length <1){
							alert("제목을 입력해주세요.");
							return false;
						} else if($("#ContainText").val().length < 1){
							alert("내용을 입력해주세요.");
							return false;
						} else if(confirm("등록하시겠습니까?") == false){
							return false;
						}
					}
					
					function deleteNotice(postId){
						if(confirm("삭제하시겠습니까?")){
							var uri = /*[[@{admin_NoticeDelete.do}]]*/null;
							console.log(uri);
							var html = "";
							
							html += '<form name="dataForm" action="'+uri+'" method="post">';
							html += '<input type="hidden" name="postId" value="'+postId+'">';
							html += '</form>';
							$("body").append(html);
							document.dataForm.submit();
						}
					}
					
				/*]]>*/
			</script>
			</th:block>
		</th:block>
	</body>
</html>