<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/admin_window.css">
    <link rel="stylesheet" href="./css/admin_question_detail.css">
    <title>관리자페이지</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="header">
          <div class="logo">
            <!-- 로고 -->
            <a href="main.html"><img src="./image/logo.png" alt=""></a>
            <span class="title">
              관리자페이지
            </span>
          </div>
          <div class="profile">
            <div class="profile_img">
              <!-- 프로필사진 -->
              <a href="#"><img src="./image/profile.png" alt</a>
            </div>
            <div class="profile_id">
              <span>아이디값</span>
            </div>
            <div class="profile_menu">
              <!-- 햄버거 메뉴 -->
              <a href="#"><img src="./image/category.png" alt></a>
            </div>
          </div>
        </div>
      </header>
      <nav>
        <div id="nav">
          <ul>
            <li><a href="#">게시글 관리</a></li>
            <li><a href="#">승급관리</a></li>
            <li><a href="#">회원정보</a></li>
            <li><a href="#">운동종목</a></li>
            <li><a href="#">포인트관리</a></li>
          </ul>
        </div>
      </nav>
      <div id="contents">
        <aside id="side">
          <ul>
            <li class="main_category"><a href="#">게시글 관리</a>
              <ul>
                <li><a href="#">문의사항</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">QnA</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">승급관리</a>
              <ul>
                <li><a href="#">회원관리</a></li>
                <li><a href="#">승급데이터 관리</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">회원정보</a>
              <ul>
                <li><a href="#">회원조회</a></li>
                <li><a href="#">탈퇴한회원</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">운동종목</a>
              <ul>
                <li><a href="#">수정/추가/삭제</a></li>
              </ul>
            </li>
            <li class="main_category"><a href="#">포인트관리</a>
              <ul>
                <li><a href="#">조회</a></li>
                <li><a href="#">적립/차감</a></li>
              </ul>
            </li>
          </ul>
        </aside>
        <section>
          <article class="main_contents">
            <div class="title">
              <span class="main_title">게시글 관리</span>
              <span class="sub_title">문의사항</span>
                <select class="sort_select" name="">
                  <option value="">답변대기중</option>
                  <option value="">오래된순</option>
                  <option value="">최신순</option>
                </select>
            </div>
            <div class="contents">
              <!-- 게시판 글 내용 -->
              <table class="contents_table">
                <!-- db값 -->
                <tr class="tr_title">
                  <th>번호</th>
                  <th><a href="#">제목</a></th>
                  <th>작성자</th>
                  <th>작성일자</th>
                  <th>답변여부</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="#">햄버거는 맛있습니다.</a></td>
                  <td>보라돌이</td>
                  <td>2021/09/02</td>
                  <td>답변 대기중</td>
                </tr>
                <tr>
                  <td>내용</td>
                  <td colspan="4">訓民正音
                    <br>훈민정음
                    <br>國之語音 異乎中國 與文字 不相流通
                    <br>국지어음 이호중국 여문자 불상류통
                    <br>故 愚民 有所欲言 而終不得伸其情者 多矣
                    <br>고 우민 유소욕언 이종불득신기정자 다의
                    <br>予 爲此憫然 新製二十八字 欲使人人 易習 便於日用耳
                    <br>여 위비민연 신제이십팔자 욕사인인 이습 편어일용이


                    <br>"나랏말싸미 듕귁에 달아 문자와로 서르 사맛디 아니할쎄
                    <br>이런 젼차로 어린 백셩이 니르고져 홀 배 이셔도
                    <br>마참내 제 뜨들 시러펴디 몯 할 노미 하니라
                    <br>내 이랄 위하야 어엿비 너겨 새로 스믈 여듧 짜랄 맹가노니
                    <br>사람마다 해여 수비 니겨 날로 쑤메 뼌한킈 하고져 할따라미니라 " </td>
                </tr>
              </table>
            </div>
              <button class="edit_btn" type="button" name="button" onclick="alert">수정</button>
              <button class="answer_btn" type="button" name="button" onclick="alert">답변</button>
            </div>
          </article>
        </section>
      </div>
      <footer>
        .
      </footer>
    </div>
    <script src="./js/aside_resize.js"></script>
  </body>
</html>
