<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org"
	xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/basic">
	<th:block layout:fragment="title">
		<title>승급관리</title>
	</th:block>
	<body>
		<th:block layout:fragment="contents">	
			<div class="title">
				<h4 class="main_title fw-bold mb-4 d-inline-block">승급관리</h4>
				<h5 class="sub_title d-inline-block">회원관리</h5>
				<label for="sort" class="float-end fs-6">정렬기준
					<select class="form-select d-inline-block w-auto" id="sortType" aria-label=".form-select-sm example">
						<option value="" disabled selected>정렬</option>
						<option value="2">상태</option>
						<option value="1">승인일자</option>
						<option value="0">신청일자</option>
					</select>
				</label>
			</div>
	
			<div class="table-responsive clearfix">
				<table class="table table-hover text-center text-nowrap">
					<thead>
						<tr class="bg-light">
							<th scope="col">아이디</th>
							<th scope="col">현재등급</th>
							<th scope="col">심사등급</th>
							<th scope="col">상태</th>
							<th scope="col">종목</th>
							<th scope="col">승급신청일자</th>
							<th scope="col">승인일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty( levelup )}"
							th:each="row : ${levelup}" style="cursor:pointer;"
							th:onclick="'location.href=\''+@{admin_levelupDetail.do(testDate=${row.testDate},mbrId=${row.mbrId},exerciseId=${row.exerciseId})}+'\''">
							<td scope="row" th:text="${row.mbrId}"></td>
							
							<td th:text="${row.exerciseDbDTO.levelNm}"></td>
							<td th:text="${row.levelPointDTO.levelNm}"></td>
							<th:block th:switch="${row.evaluationResult}">
								<td scope="row" th:case="0">심사대기중</td>
								<td scope="row" th:case="1">불합격</td>
								<td scope="row" th:case="2">합격</td>
							</th:block>
							<td scope="row" th:text="${row.exerciseId}"></td>
							<td scope="row" th:text="${row.testDate}" class="testDate"></td>
							<td scope="row" th:if="${row.modifyDate} != null" th:text="${row.modifyDate}" class="testDate"></td>
							<td scope="row" th:unless="${row.modifyDate} != null" th:text="'-'" class="testDate"></td>
						</tr>
						
						<tr th:unless="${not #lists.isEmpty( levelup )}">
							<td colspan="6">조회된 결과가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="page_navigation">
				<th:block layout:fragment="paging">
					<nav th:replace="fragments/common :: pagination"></nav>
				</th:block>
			</div>
			
			<div class="search">
				<th:block layout:fragment="search">
					<div th:replace="fragments/common :: search_levelup"></div>
				</th:block>
			</div>
			<th:block layout:fragment="script">
				<script th:inline="javascript">
				/*<![CDATA[*/
					let sideMenuIcon = document.getElementById('levelUpMgt');
					sideMenuIcon.ariaExpanded = "true";
					let sideMenuShow = document.getElementById('levelUp-collapse');
					sideMenuShow.className="collapse show";
					
					//페이징 경로
					function movePage(uri, queryString){
						location.href=uri + queryString
					}
					
					//select 선택
					var sortType = document.getElementById("sortType");
					sortType.addEventListener('change', function sortTypeMovePage(){
						location.href="admin_levelup.do?sortType=" + sortType.value;
					})
					
					//당일 작성일자 시간으로 변경
					var now = new Date();
					var nowYear = now.getFullYear();
					var nowMonth = ('0' + (now.getMonth()+1)).slice(-2);
					var nowDate = ('0' + now.getDate()).slice(-2);
					var nowDay = nowYear + '-' + nowMonth + '-' + nowDate;
					var recordsPerPage = /*[[${params.recordsPerPage}]]*/null;
					var testDate = document.getElementsByClassName('testDate');
					for(var i=0; i<(recordsPerPage*2); i++){
						if(testDate[i].innerText.substr(0,10) == nowDay){
							testDate[i].innerText = testDate[i].innerText.substr(11);
						} else {
							testDate[i].innerText = testDate[i].innerText.substr(0,10);
						}
					}
					
					console.log(testDate[1].innerText.substr(0,10));
					
					
				/*]]>*/
				</script>
			</th:block>
		</th:block>
	</body>
</html>