<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
	<th:block layout:fragment="title">
		<title>상세페이지 - 공지</title>
	</th:block>
	<body>
		<th:block layout:fragment="contents">
			<!-- HEAD -->
			<div class="title">
				<h4 class="main_title fw-bold mb-4 d-inline-block">게시글 관리</h4>
				<h5 class="sub_title d-inline-block">QnA</h5>
			</div>
			
			<!-- TABLE -->
			<div class="table-responsive clearfix" id="writeAnswer">
				<form th:action="@{admin_QnAUpdate.do}" method="get" th:object="${post}">
					<input type="hidden" th:field="*{postId}" th:value="${post.postId}">
					<input type="hidden" th:field="*{mbrId}" th:value="${post.mbrId}">			
					<table class="table text-center text-nowrap">
						<thead>
							<tr class="bg-light">
								<th class="border-end">분류</th>
								<th scope="col">제목</th>
								<th>작성자</th>
								<th>작성일자</th>
							</tr>
						</thead>
						<tbody>
						
							<tr class="align-middle">
								<td class="border-end">
									<select th:value="${post.boardSubType}" th:field="*{boardSubType}" class="form-select m-auto bg-white border-0 text-center" id="subType" disabled>
										<option value="0" disabled>구분</option>
										<option value="1">분류1</option>
										<option value="2">분류2</option>
										<option value="3">분류3</option>
										<option value="4">분류4</option>
									</select>
								</td>
								<td><input type="text" class="form-control w-100 bg-white border-0 text-center" readonly th:value="${post.title}" th:field="*{title}" id="title"></td>
								<td th:text="${post.mbrId}"></td>	
								<td th:text="${post.postDate}"></td>
							</tr>
							<tr class="align-middle">
								<td colspan="1" class="border-end">내용</td>
								<td colspan="5">
									<textarea class="form-control border-0 bg-white text-center h-100" readonly rows=14 th:text="${post.postContents}" id="containText" style="resize:none;" th:field="*{postContents}"></textarea>
								</td>
							</tr>
							<tr id="answerText" class="align-middle">
								<td class="border-end">답변내용</td>
								<td colspan="5"><input type="text" id="answer" class="form-control bg-white border-0" readonly th:value="${post.answer}" th:field="*{answer}"></td>
							</tr>
							<tr class="">
								<td colspan="1">
								<td colspan="5" th:object="${post}">
									<div class="float-end">
										<button type="button" class="btn btn-secondary" id="modifyBtn">수정</button>
										<button type="submit" class="btn btn-secondary d-none" id="updateBtn">등록</button>
										<button type="button" class="btn btn-secondary" id="deleteBtn" th:onclick="deleteQnA('[[ *{postId} ]]')">삭제</button>
										<button type="button" class="btn answerBtn d-none" id="cancelBtn">취소</button>							
										<button type="button" class="btn btn-light" id="backBtn" onclick="history.back()">뒤로가기</button>
									</div>
								</td>
							</tr>
						
						</tbody>
					</table>
				</form>
			</div>
			<th:block layout:fragment="script">
			<script th:inline="javascript">
				let sideMenuIcon = document.getElementById('boardMgt');
				sideMenuIcon.ariaExpanded = "true";
				let sideMenuShow = document.getElementById('board-collapse');
				sideMenuShow.className="collapse show";
				
				let subType = document.getElementById("subType");
				const subTypeValue = /*[[${post.boardSubType}]]*/null;
				
				//분류값 지정
				document.getElementById("subType").value = subTypeValue;
				console.log(subTypeValue);
				
				const title = document.getElementById("title");
				const containText = document.getElementById("containText");
				const answer = document.getElementById("answer");
				
				const modifyBtn = document.getElementById("modifyBtn");
				const updateBtn = document.getElementById("updateBtn");
				const deleteBtn = document.getElementById("deleteBtn");
				const cancelBtn = document.getElementById("cancelBtn");
				
			
				modifyBtn.addEventListener('click',function(){
					subType.removeAttribute('disabled');
					subType.classList.remove('bg-white','border-0');
					title.removeAttribute('readonly');
					title.classList.remove('bg-white','border-0');
					containText.removeAttribute('readonly');
					containText.classList.remove('bg-white','border-0');
					answer.removeAttribute('readonly');
					answer.classList.remove('bg-white','border-0');
					
					modifyBtn.classList.add('d-none');
					deleteBtn.classList.add('d-none');
					updateBtn.classList.remove('d-none');
					cancelBtn.classList.remove('d-none');
					backBtn.classList.add('d-none');
				})
				
				cancelBtn.addEventListener('click',function(){
					subType.setAttribute('disabled','disabled');
					subType.classList.add('bg-white','border-0');
					title.setAttribute('readonly','readonly');
					title.classList.add('bg-white','border-0');
					containText.setAttribute('readonly','readonly');
					containText.classList.add('bg-white','border-0');
					answer.setAttribute('readonly','readonly');
					answer.classList.add('bg-white','border-0');
					
					modifyBtn.classList.remove('d-none');
					deleteBtn.classList.remove('d-none');
					updateBtn.classList.add('d-none');
					cancelBtn.classList.add('d-none');
					backBtn.classList.remove('d-none');
				})
				
				
				/*<![CDATA[*/
					
					function deleteQnA(postId){
						if(confirm("삭제하시겠습니까?")){
							var uri = /*[[@{admin_QnADelete.do}]]*/null;
							console.log(uri);
							var html = "";
							
							html += '<form name="dataForm" action="'+uri+'" method="post">';
							html += '<input type="hidden" name="postId" value="'+postId+'">';
							html += '</form>';
							$("body").append(html);
							document.dataForm.submit();
						}
					}
					
				/*]]>*/
			</script>
			</th:block>
		</th:block>
	</body>
</html>