<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>기본정보입력-나이</title>
    <link rel="stylesheet" href="./css/regist_window.css">
    <link rel="stylesheet" href="./css/age.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section>
        <div class="main_contents">
          <div class="title">
            <h1>내 신체 정보</h1>
          </div>
          <form class="" action="goal.html" method="post">
            <div class="info">
              <div class="age_select">
                <label>나이 :
                  <input type="number" name="" value="">
                </label>
              </div>
              <div class="height_select">
                <label>키 :
                  <input type="number" name="" value="">
                  <select class="" name="">
                    <option value="">cm</option>
                    <option value="">in.</option>
                  </select>
                </label>
              </div>
              <div class="weight_select">
                <label>몸무게 :
                  <input type="number" name="" value="">
                  <select class="" name="">
                    <option value="">kg</option>
                    <option value="">lb</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="btn">
              <button type="button" name="button" onclick="history.back()">취소</button>
              <input type="submit" name="" value="확인">
            </div>
          </form>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
