<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/static/css/background_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/forget_pw_3.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <h1>비밀번호 변경</h1>
        <!-- 경로 :login.html-->
        <!-- 경로 변경 필요 -->
        <form class="" action="login.html" method="post">
          <label>새 비밀번호
            <input type="password" name="" value="" placeholder="비밀번호 입력">
          </label>
          <label>새 비밀번호 확인
            <input type="password" name="" value="" placeholder="비밀번호 확인 입력">
          </label>
          <div class="btn_img">
            <img src="./image/button_off.png" alt="">
            <img src="./image/button_off.png" alt="">
            <img src="./image/button_on.png" alt="">
          </div>
          <input type="button" class="cancel_btn" name="" value="이전" onclick="history.back()">
          <!-- 경고창으로 임시 생성 -->
          <input type="submit" class="confirm_btn" name="" value="확인" onclick="alert('비밀번호가 변경되었습니다.')">
        </form>
      </section>
    </div>
  </body>
</html>
