<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"> <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>아이디찾기</title>
    <link rel="stylesheet" th:href="@{/static/css/background_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/forget_id_2.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <h1>아이디 찾기</h1>
        <!-- 경로 login.html -->
        <!-- 경로 변경 필요 -->
        
          <label>내 아이디
            <h2><p th:text="${id}">아이디</p></h2>
          </label>
          <div class="btn_img">
            <img src="./image/button_off.png" alt="">
            <img src="./image/button_on.png" alt="">
          </div>
          <button type="button" class="cancel_btn" name="" value="비밀번호 찾기"  ><a th:href="@{forget_pw.do}">비밀번호 찾기</a></button>
          <button type="button" class="confirm_btn" ><a th:href="@{login.do}">확인</a></button>
        
      </section>
    </div>
  </body>
</html>
