<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/static/css/background_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/forget_pw_2.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <h1>비밀번호 찾기</h1>
        <!-- 경로 : forget_id_2.html-->
        <!-- 경로 변경 필요 -->
        <form class="" th:action="@{forget_pw_2.do}" method="post">
        <input type="hidden" th:value="${userId}"  name = "mbrId"></input>
          <label>비밀번호 찾기 질문
            <select class="" name="mbrPwHint" value="" placeholder="">
              <option value="1">내가 졸업한 초등학교 이름은?</option>
              <option value="2">태어난 곳은?</option>
              <option value="3">나의 보물 1호는?</option>
            </select>
          </label>
          <input type="text" name="mbrPwAnswer" value="" placeholder="정답 입력">
          <div class="btn_img">
            <img src="./image/button_off.png" alt="">
            <img src="./image/button_on.png" alt="">
            <img src="./image/button_off.png" alt="">
          </div>
          <input type="button" class="cancel_btn" name="" value="이전" onclick="history.back()">
          <input type="submit" class="confirm_btn" name="" value="다음">
        </form>
      </section>
    </div>
  </body>
</html>
