<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>기본정보입력-성별</title>
    <link rel="stylesheet" href="./css/regist_window.css">
    <link rel="stylesheet" href="./css/gender.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section>
        <div class="main_contents">
          <div class="title">
            <h1>성 별</h1>
          </div>
          <div class="gender_select">
            <!-- 정보 전달 수정 필요 -->
            <form action="age.html" method="get">
              <input type="submit" class="man" name="man" value="남">
            </form>
            <form action="age.html" method="get">
              <input type="submit" class="woman" name="woman" value="여">
            </form>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
