<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

  <head>
   <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width">
    <title>회원가입</title>
    
    
    <link rel="stylesheet" th:href="@{/static/css/background_window.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/join.css}"/>
  
<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}"/>
   
     <script th:src='@{/static/js/overlapcheck.js}'></script>

<!--비밀번호 체크 jquery -->
<script type="text/javascript">
$(function() {
	$("#alert-success").hide();
	$("#alert-danger").hide();
	$("input" ).keyup(function() {
		var pwd1 = $("#mbr_pw").val();
		var pwd2 = $("#mbr_Pw_Check").val();
		if (pwd1 != "" || pwd2 != "") {
			if (pwd1 == pwd2) {
			$("#alert-success").show();
			$("#alert-danger").hide();
			 $("#submit").removeAttr("disabled");
			}else {
			$("#alert-success").hide();
			$("#alert-danger").show();
			$("#submit").attr("disabled", "disabled");
		}
	}
	});
});
</script>

  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <article class="">
          <h1>회원가입</h1>
          <form class="join" th:action="@{/join.do}" method="post">
            <label class="id">아이디
              <input type="text" id="mbr_id" name="mbrId" value="" placeholder="아이디" required>
            </label>
            <button type="button" class="id_check" name="button" onclick="idCheck()")>중복확인</button>
            <label>비밀번호
              <input type="password" id="mbr_pw" name="mbrPw" class="pw" value="" placeholder="비밀번호" required>
            </label>
            <label>비밀번호 확인
              <input type="password" id= "mbr_Pw_Check" class="pw"  value="" placeholder="비밀번호 확인" required>
             


            </label>
             <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
              <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
            <label>이름
              <input type="text" id="mbr_nm" name="mbrNm" value="" placeholder="이름" required>
            </label>
            <label>생년월일
              <input class="year" id="mbr_birth" type="date" name="mbrBirth" value="" placeholder="년도" required>
            </label>
             
     
            
            <label class="email">이메일 주소
              <input class="input-check-email" id="mbr_email" type="email" name="mbrEmail" value="" required>                
            </label> 
            <button type="button" class="email_check" name="button" onclick="emailCheck()")>중복확인</button>
              <div  id="result-check"></div>  
            <label>비밀번호 찾기 질문
              <select id="pw_hint" class="pw_hint" name="mbrPwHint" >
                <option value="1">내가 졸업한 초등학교 이름은?</option>
                <option value="2">태어난 곳은?</option>
                <option value="3">나의 보물 1호는?</option>
              </select>
            </label>
            <label>힌트 답
              <input id="mbr_pw_answer" type="text" name="mbrPwAnswer" value="" required>
            </label>
            <input type="button" class="cancel_btn" onclick="history.back()" name="" value="취소">
            <input type="submit" id ="submit" class="confirm_btn" name="" value="가입" onclick ="registerCheck()">
          </form>
        </article>
      </section>
      <footer>
      </footer>
    </div>
    <script>
 // email check function
    function email_check( email ) {    
        var regex=/([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return (email != '' && email != 'undefined' && regex.test(email)); 
    }

    // check when email input lost foucus
    $(".input-check-email").blur(function(){
      var email = $(this).val();

      // if value is empty then exit
      if( email == '' || email == 'undefined') return;

      // valid check
      if(! email_check(email) ) {
      	$("#result-check").text('이메일 형식이 아닙니다..');
        $(this).focus();
        return false;
      }
      else {
      	$("#result-check").text('올바른 이메일 형식입니다.');
      }
    });
    </script>
  </body>
</html>
