<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment = "main-head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <th:block layout:fragment="title"></th:block>
    <title>메인페이지</title>
   
    
    <th:block layout:fragment="add-css"></th:block>
  </head>
  	<body th:fragment="main-body">
    <div id="wrapper">
      <div class="empty"></div>
      <div class="contain">
        <section>
          <h1>Health Planner</h1>
          <article class="start">
            <button class="start_btn" type="button" name="start" onclick="location.href='admin.do'">START</button>
          </article>
          <article class="login">
          	<th:block th:if="${nullsession == false}">
                <h5><a href="">다음에 하기</a></h5>
            </th:block>
            <th:block th:unless="${nullsession == false}">
                <h5><a th:href="@{mypage.do}">마이 페이지</a></h5>
            </th:block>
            <button class="login_btn" type="button"  name="button" onclick="location.href='login.do'"> 로그인
            <th:block th:if="${nullsession == false}">
            </th:block>
            <th:block th:unless="${nullsession == false}">
                <a  th:href="@{/logout}" >로그아웃</a>  
           </th:block>
             
              
            </button>
          </article>
        </section>
      </div>
      <footer class="footer">
        2021 ⓒ Health Planner
       
      </footer>
    </div>
  </body>
</html>
