<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/member_state_basic.html">
	<th:block layout:fragment="title">
		<title>thiThe page is a write page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/memberstate/register.do}" th:object="${memberState}" method="post" onsubmit="return registerMemberState(this)">
				<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
				<input type="hidden" th:if="*{memberStateDate != null and memberStateDate > '0'}" th:field="*{memberStateDate}" />
				<div class="form-group">
					<label for="mbrGender" class="col-sm-2 control-label">성별</label>
					<div class="col-xs-2">
						<label><input th:field="*{mbrGender}" type="radio" class="form-control" value=1 />남자</label>
						<label><input th:field="*{mbrGender}" type="radio" class="form-control" value=2/>여자</label>
					</div>
				</div>
				<div class="form-group">
					<label for="mbrAge" class="col-sm-2 control-label">나이</label>
					<div class="col-xs-2">
						<input type="text" th:field="*{mbrAge}" class="form-control" placeholder="나이" />
					</div>
				</div>

				<div class="form-group">
					<label for="mbrHeight" class="col-sm-2 control-label">키</label>
					<div class="col-xs-2">
						<input type="text" th:field="*{mbrHeight}" class="form-control" placeholder="키" />
					</div>
				</div>

				<div class="form-group">
					<label for="mbrWeight" class="col-sm-2 control-label">몸무게</label>
					<div class="col-xs-2">
						<input type="text" th:field="*{mbrWeight}" class="form-control" placeholder="키" />
					</div>
				</div>
				<input type="hidden" th:field="*{memberFatper}">
				<div class="btn_wrap text-center">
					<a th:href="@{/memberstate/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
		<!-- /.card-content -->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function registerMemberState(form) {

				var result = (
						   isValid(form.memberStateDate, "일자", null, null)
						&& isValid(form.mbrId, "아이디", null, null)
						&& isValid(form.mbrGender, "성별", null, null)
						&& isValid(form.mbrAge, "나이", null, null)
						&& isValid(form.mbrHeight, "키", null, null)
						&& isValid(form.mbrWeight, "몸무게", null, null)
						&& isValid(form.memberFatper, "체지방률", null, null)
						&& isValid(form.averageRank, "종합신체등급", null, null)
						&& isValid(form.goalPer, "목표달성률", null, null)
				);

				if ( result == false ) {
					return false;
				}
			}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>