<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>마이페이지</title>
    <link rel="stylesheet" href="./css/background_window.css">
    <link rel="stylesheet" href="./css/mypage_pass.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <section>
        <h1>내 정보</h1>
        <!-- 경로 : forget_id_2.html-->
        <!-- 경로 변경 필요 -->
        <h5>본인확인</h5>
        <form class="" action="mypage_main.html" method="post">
          <label>비밀번호를 입력해주세요
            <input type="email" name="" value="" placeholder="이메일주소">
          </label>
          <input type="button" class="cancel_btn" name="" value="취소" onclick="history.back()">
          <input type="submit" class="confirm_btn" name="" value="확인">
        </form>
      </section>
    </div>
  </body>
</html>
