<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>마이페이지 - 개인정보변경</title>
    <link rel="stylesheet" th:href="@{/static/css/mypage_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/mypage_main.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <header>

      </header>
      <section>
        <div class="contain_title">
          <h1>내 정보</h1>
        </div>
        <div class="contain">
          <aside class="info_list">
            <ul>
              <li><a th:href="@{mypage.do}">개인정보변경</a></li>
              <li><a th:href="@{mypage_body.do}">내 신체레벨</a></li>
              <li><a th:href="@{mypage_graph.do}">내 운동그래프</a></li>
              <li><a th:href="@{mypage_point.do}">내 포인트</a></li>
            </ul>
          </aside>
          <div class="length_line"></div>
          <div class="profile_img">
            <img src="./image/profile.png" alt="">
          </div>
          <article class="main_contain">
            <!-- input값을 주고 readonly로 수정할 수 없게 -->
            <form class="main" action="index.html" method="post">
              <label>이름
                <input type="text" class="view" name="mbrNm" th:value="${userNm}" readonly/>
              </label>
              <hr>
              <label>ID
                <input type="text" class="view" name="mbrId" th:value="${userId}" readonly/>
              </label>
              <label>현재 비밀번호
                <input type="password" name="" value="" placeholder="mypage_pass에서 전송된 값">
              </label>
              <label>새 비밀번호
                <input type="password" name="" value="" placeholder="변경할 비밀번호">
              </label>
              <label class="pw_check">새 비밀번호 확인
                <input type="password" name="" value="" placeholder="변경할 비밀번호 확인">
              </label>
              <button type="button" name="button">변경</button>
              <label>E-Mail
                <input type="text" class="view" name="mbrEmail" th:value="${userEm}" readonly/>
              </label>
            </form>
          </article>
        </div>
      </section>
    </div>
  </body>
</html>
