<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>마이페이지 - 포인트</title>
    <link rel="stylesheet" th:href="@{/static/css/mypage_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/mypage_point.css}">
    <!-- jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- fullcalendar CDN -->
	<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
	<!-- fullcalendar 언어 CDN -->
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>


  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <header>

      </header>
      <section>
        <div class="contain_title">
          <h1>내 정보</h1>
        </div>
        <div class="contain">
          <aside class="info_list">
            <ul>
                <li><a th:href="@{mypage.do}">개인정보변경</a></li>
              <li><a th:href="@{mypage_body.do}">내 신체레벨</a></li>
              <li><a th:href="@{mypage_graph.do}">내 운동그래프</a></li>
              <li><a th:href="@{mypage_point.do}">내 포인트</a></li>
            </ul>
          </aside>
          <div class="length_line"></div>
          <div class="profile_img">
            <img src="./image/profile.png" alt="">
          </div>
          <article class="main_contain">
            <!-- input값을 주고 readonly로 수정할 수 없게 -->
            <label class="userInfo">
            <img class="userPhotos"  th:src="${userPhoto}">
            </label>
            <label class="userInfo">이름
              <input type="text" class="view" name="mbrNm" th:value="${userNm}" readonly/>
            </label>
            <hr>
            <div class="mypoint">
              내 포인트 - <span name="pointTotal" th:text="${pointTotal}"></span>P
            </div>
            <div class="point_history">
              <h2>적립 및 사용내역</h2>
              <hr>
              
              
			
              
              <table>
               <tbody>
					<tr th:if="${not #lists.isEmpty( pointList )}" th:each="row : ${pointList}">					
						<td th:text="${row.pointCategory}"></td>
						<td th:text="${row.pointValue}"></td>
						<td th:text="${row.pointContents}"></td>
						<td th:text="${row.pointDate}"></td>						
					</tr>
					<tr th:unless="${not #lists.isEmpty( pointList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
            
              </table>
          
			
		<th:block layout:fragment="paging">
				<nav th:replace="fragments/common :: pagination"></nav>
			</th:block>
              
              <div class="daily_check">
                <div class="daily_check_month">
                  <select class="month_select" name="">
                    <option value="">01</option>
                    <option value="">02</option>
                    <option value="">03</option>
                    <option value="">04</option>
                    <option value="">05</option>
                    <option value="">06</option>
                    <option value="">07</option>
                    <option value="">08</option>
                    <option value="">09</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                  </select>
                  월 출석체크 현황
                  <div class="calendar">
                    <table>
                      <!-- 스크립트 달력테이블 -->
                      <!-- calendar 태그 -->
<div id='calendar-container'>
<div id='calendar'></div>
</div>
<script>
(function(){
$(function(){
// calendar element 취득
var calendarEl = $('#calendar')[0];
// full-calendar 생성하기
var calendar = new FullCalendar.Calendar(calendarEl, {
height: '700px', // calendar 높이 설정
expandRows: true, // 화면에 맞게 높이 재설정
slotMinTime: '08:00', // Day 캘린더에서 시작 시간
slotMaxTime: '20:00', // Day 캘린더에서 종료 시간
// 해더에 표시할 툴바
headerToolbar: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
},
initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
editable: true, // 수정 가능?
selectable: true, // 달력 일자 드래그 설정가능
nowIndicator: true, // 현재 시간 마크
dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
locale: 'ko', // 한국어 설정
eventAdd: function(obj) { // 이벤트가 추가되면 발생하는 이벤트
console.log(obj);
},
eventChange: function(obj) { // 이벤트가 수정되면 발생하는 이벤트
console.log(obj);
},
eventRemove: function(obj){ // 이벤트가 삭제되면 발생하는 이벤트
console.log(obj);
},
select: function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
var title = prompt('Event Title:');
if (title) {
calendar.addEvent({
title: title,
start: arg.start,
end: arg.end,
allDay: arg.allDay
})
}
calendar.unselect()
}

});
// 캘린더 랜더링
calendar.render();
});
})();
</script>


                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </article>
        </div>
      </section>
      <footer>
        <br>
      </footer>
    </div>
  <th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}

			/*]]>*/
		</script>
	</th:block>
	
	
	
  </body>
</html>
