<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th= "http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>마이페이지 - 포인트</title>
    <link rel="stylesheet" th:href="@{/static/css/mypage_window.css}">
    <link rel="stylesheet" th:href="@{/static/css/mypage_point.css}">
  </head>
  <body>
    <div id="wrapper">
      <div class="empty"></div>
      <header>

      </header>
      <section>
        <div class="contain_title">
          <h1>내 정보</h1>
        </div>
        <div class="contain">
          <aside class="info_list">
            <ul>
                <li><a th:href="@{mypage.do}">개인정보변경</a></li>
              <li><a th:href="@{mypage_body.do}">내 신체레벨</a></li>
              <li><a th:href="@{mypage_graph.do}">내 운동그래프</a></li>
              <li><a th:href="@{mypage_point.do}">내 포인트</a></li>
            </ul>
          </aside>
          <div class="length_line"></div>
          <div class="profile_img">
            <img src="./image/profile.png" alt="">
          </div>
          <article class="main_contain">
            <!-- input값을 주고 readonly로 수정할 수 없게 -->
            <label class="userInfo">
            <img class="userPhotos"  src="https://t1.daumcdn.net/cfile/tistory/2513B53E55DB206927">
            </label>
            <label class="userInfo">이름
              <input type="text" class="view" name="mbrNm" th:value="${userNm}" readonly/>
            </label>
            <hr>
            <div class="mypoint">
              내 포인트 - <span name="pointValue" th:text="${pointValue}"></span>P
            </div>
            <div class="point_history">
              <h2>적립 및 사용내역</h2>
              <hr>
              
              <tbody>
					<tr th:if="${not #lists.isEmpty( pointList )}" th:each="row : ${boardList}">
						<td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
						<td class="text-left">
							<a th:href="@{/board/view.do( idx=${row.idx} )}" th:text="${row.title}"></a>
						</td>
						<td th:text="${row.writer}"></td>
						<td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
						<td th:text="${row.viewCnt}"></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty( pointList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
              
              <table>
                <tr>
                  <td>포인트 변동내용</td>
                  <!-- + 파란색 , - 빨간색 -->
                  <td>포인트값</td>
                  <td>날짜값</td>
                </tr>
                
              </table>
              <div class="more">
                <button class="more_btn" type="button" name="button">더보기</button>
              </div>
              <div class="daily_check">
                <div class="daily_check_month">
                  <select class="month_select" name="">
                    <option value="">01</option>
                    <option value="">02</option>
                    <option value="">03</option>
                    <option value="">04</option>
                    <option value="">05</option>
                    <option value="">06</option>
                    <option value="">07</option>
                    <option value="">08</option>
                    <option value="">09</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                  </select>
                  월 출석체크 현황
                  <div class="calendar">
                    <table>
                      <!-- 스크립트 달력테이블 -->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </article>
        </div>
      </section>
      <footer>
        <br>
      </footer>
    </div>
  </body>
</html>
