<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/basic">
	<th:block layout:fragment="title">
		<title>문의사항GET</title>
	</th:block>
	
	<body>
	<th:block layout:fragment="contents">
		<div class="title">
			<h4 class="main_title fw-bold mb-4 d-inline-block">게시글 관리</h4>
			<h5 class="sub_title d-inline-block">문의사항</h5>
			
			<label for="sort" class="float-end fs-6">정렬기준
				<select class="form-select d-inline-block w-auto" id="sort" aria-label=".form-select-sm example">
					<option value="" disabled selected>정렬</option>
					<option value="2">최신순</option>
					<option value="1">오래된순</option>
					<option value="0">답변대기중</option>
					

				</select>
			</label>
		</div>

		<div class="table-responsive clearfix">
			<table class="table table-hover text-center text-nowrap">
				<thead>
					<tr class="bg-light">
						<th>번호</th>
						<th>제목</th>
						<th>문의분류</th>
						<th>작성자</th>
						<th>답변여부</th>
						<th>작성일자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(postList)}"
						th:each="row : ${postList}">
						<td scope="row" th:text="${row.postId}"></td>
						<td class="w-50"><a
							th:href="|@{admin_QuestionDetail.do}${params.makeQueryString(params.currentPageNo)}&postId=${row.postId}|"
							th:text="${row.title}"></a></td>
						<th:block th:switch="${row.boardSubType}">
							<td th:case="1">회원</td>
							<td th:case="2">시스템</td>
							<td th:case="3">포인트</td>
							<td th:case="4">기타</td>
						</th:block>
						<td th:text="${row.mbrId}"></td>
						<td th:if="${row.answerState.equals(0)}">답변대기중</td>
						<td th:unless="${row.answerState.equals(0)}">답변 완료</td>
						<td th:text="${row.postDate}" class="writtenDate"></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty( postList )}">
						<td colspan="6">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="page_navigation">
			<th:block layout:fragment="paging">
				<nav th:replace="fragments/common :: pagination"></nav>
			</th:block>
		</div>
		
		<div class="search">
			<th:block layout:fragment="search">
				<div th:replace="fragments/common :: search_Question"></div>
			</th:block>
		</div>
		
		<th:block layout:fragment="script">
			<script th:src="@{../../../static/js/common.js}"></script>
			<script th:inline="javascript">
				let sideMenuIcon = document.getElementById('boardMgt');
				sideMenuIcon.ariaExpanded = "true";
				let sideMenuShow = document.getElementById('board-collapse');
				sideMenuShow.className="collapse show";
				
				//query string pasing 하는 메소드
				function getQueryStringObject(){
					let a = window.location.search.substr(1).split('&');
					if(a == "") return {};
					let b = {};
					for(let i=0; i<a.length; ++i){
						let p = a[i].split('=',2);
						if(p.length == 1)
							b[p[0]]="";
						else
							b[p[0]] = decodeURIComponent(p[1].replace(/\+/g," "));
					}
					return b;
				}
				
				//sortType값(queryString에서 가져옴)
				let qs = getQueryStringObject();
				let sortType = qs.sortType
				
				//select값 유지
				document.getElementById("sort").value=sortType;
				
				
				/*select 선택 시*/
				$("#sort").change(function(){
					selectVal = $(this).val();
					$(document).ready(function(){
						//select값이 있을때(option 선택 시) 페이지 이동
						if($("#sort").val() != null){
							location.href = "admin.do?sortType=" + selectVal;
						}
					})
				})
				
				//페이징 uri 설정
				/*<![CDATA[*/
				function movePage(uri, queryString){
					location.href = uri + queryString;
				}
			
				//당일 작성일자 시간으로 변경
				let nowDate = /*[[${nowDate}]]*/null; //controller 사용
				let writtenDate = document.getElementsByClassName('writtenDate');
				let recordsPerPage = /*[[${params.recordsPerPage}]]*/null;
				
				for(var i=0; i<recordsPerPage; i++){
					if(writtenDate[i].innerText.substr(0,10) == nowDate){
						writtenDate[i].innerText=writtenDate[i].innerText.substring(11,16);
					} else {
						writtenDate[i].innerText=writtenDate[i].innerText.substring(0,10);
					}
				}
				
				//검색 유효성
				function searchQuestion(form){
					try{
					if(isEmpty(form.searchKeyword.value) == true){
						alert("키워드를 입력해 주세요.");
						form.searchKeyword.focus();
						console.log("testtesttest");
						return false;
					} else {
						console.log("test");
					}
					}catch(error){
						alert(error);
					}
				}
				
				/*]]>*/
				
			</script>
		</th:block>
	</th:block>
	</body>
</html>